In [15]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
df_lintas_angkatan = pd.read_csv("https://docs.google.com/spreadsheets/d/1Qctp9yKzecR4KGKTYsiKGZW2YOABkyZcMDzzpnS45vQ/export?format=csv&gid=944201584")

In [17]:
df_lintas_angkatan.head()

,id,No.,Nama,Kelas,Angkatan,Status,Kategori,Umum/Agama,Tahun Masuk,Kota/Negara,Universitas,Jurusan,Sarjana,Jalur Penerimaan,Beasiswa
0,1,1,Abadan Ghazian Khair,[unknown],30 [Alqatras],Studi Lanjut,Luar Negeri,Agama,2022,Yordania,Yarmouk University,Ekonomi Islam,Sarjana,[unknown],[unknown]
1,2,1,Abdallah Nur Rachman,12A,31 [Barzada],Studi Lanjut,LIPIA,Agama,2023,Jakarta,LIPIA Jakarta,Ekonomi Syariah,Sarjana,Mandiri,Iya
2,3,1,Abdulloh Al Fathin,12A,32 [Szarvas],Studi Lanjut,PTS,[unknown],2023,Banyumas,Universitas Muhammadiyah Purwokerto,[unknown],[unknown],[unknown],[unknown]
3,4,2,Abdul Barr,[unknown],30 [Alqatras],Studi Lanjut,Luar Negeri,Agama,2024,Mesir,Al Azhar University Cairo,[unknown],[unknown],[unknown],[unknown]
4,5,2,Abdurrahman Naufal Chandra,12A,31 [Barzada],Studi Lanjut,PTS,Agama,2023,Jember,STDI Imam Syafii Jember,Hukum Keluarga Islam,Sarjana,Prestasi,Tidak